# encoding: iso-8859-1
<h3>A Empresa</h3>
<p>O Grupo SF Mudanças está sediado em Lisboa actuando em toda a zona da Grande Lisboa e de uma forma geral executa serviços de mudanças para todo o território nacional continental.</p>
<p>Para além da componente das mudanças, prestamos um conjunto de serviços tipicamente designados por Facility Services, ao nível da Gestão e Administração, na vertente de Condomínios, mas também ao nível de Centros de Escritórios e Centros Empresariais.</p>
<!--<h3>Serviços</h3>-->
<p>O nosso conceito passa por prestar um conjunto de serviços alargado no sentido de satisfazer o maior número de necessidades específicas das empresas ou dos particulares.</p>
<p>Poderá confiar o processo de mudança completo, a administração do seu condomínio, da sua propriedade, da sua quinta no Alentejo ou noutra parte do país, e ainda todos os serviços ao nível empresarial, tais como portaria, gestão do parque empresarial, centros de escritórios etc.</p>
<p>Tudo o que precisar poderá confiar no nosso Grupo!</p>

<h3>Mudanças</h3>
<p>Efectuamos todo o tipo de mudanças ao nível B2B e B2C. Trabalhamos com elevados patamares de profissionalismo, prontidão e dedicação.</p>
<p>Atuamos em toda a zona da Grande Lisboa mas também um pouco por todo o país, em território nacional. Todo o nosso trabalho tem como premissa básica o cumprimento rigoroso dos horários.</p>
<p>As mudanças têm todas elas em comum uma origem e um destino e é indispensável um bom nível de preparação, de forma a tornar a mudança mais rápida e mais eficiente.</p>
<h4>Preços das Mudanças</h4>
<p>Efetuamos mudanças desde:</p>
<ul>
<li>20€/hora com 1 carregador</li>
<li>25€/hora com 2 carregadores</li>
<li>35€/hora com 3 carregadores</li>
</ul>
<p>Aceitamos mínimo 2 horas</p>

<h4>Outros serviços</h4>
<p>Temos à sua disposição serviços de desmontagem, embalamento e montagem.</p>
<p>Estas operações não raramente são subvalorizados ao longo do processo de mudança, todavia constituem momentos importantíssimos, de forma a tornar o processo de carga e descarga muito mais eficiente e seguro.</p>
<p>O embalamento pode evitar acomodar algumas situações inesperadas, como deixar cair algum objecto nas escadas ou mesmo na rua aquando do transporte para a carrinha.</p>
<p>Contacte-nos já e peça-nos um orçamento!</p>  

<h3>Facility Services</h3>
<p>Tendo como core business a prestação de serviços de recepção, portaria e zelação, a o Grupo SF desenvolve a sua actividade com base nas necessidades específicas de cada cliente.</p>
<p>Para alcançarmos este objectivo de modo a dar resposta às exigências actuais é essencial uma integração na cultura de cada cliente, respondendo de forma segura e objectiva aos requisitos da missão. Com este rigor e elevado nível de exigência, foi possível construir sólidas relações com os nossos clientes que constituem as nossas referências e currículo, capacitando-nos para prestar serviços em clientes com características tão distintas, como condomínios de habitação, centros empresariais,comerciais, escritórios, complexos industriais, armazéns, hospitais e aindaeventos.</p>
<p>Para além dos serviços-base nas áreas referidas, possuímos a flexibilidade fundamental para valorizar a nossa proposta comercial disponibilizando vários serviços complementares e de cortesia, visando um nível mais elevado de conforto e segurança aos nossos clientes.</p>
<h4>O Que Fazemos</h4>
<ul>
<li>Fiscalizar o cumprimento do regulamento do condomínio e/ou normas instituídas pelo cliente/administação.</li>
<li>Controlo e supervisão na manutençãodas instalações do cliente.</li>
<li>Controlo do bom funcionamento de equipamentos afectos às instalações do cliente.</li>
<li>Fazer o atendimento de todas as pessoas que se dirijam às fracções/condomínio.</li>
<li>Acompanhamento e encaminhamento do visitante.</li>
<li>Atendimento de telefonemas, registo e encaminhamento de mensagens.</li>
<li>Não permitir a permanência de pessoas estranhas dentro da portaria ou utilização indevida do telefone e outros equipamentos existentes.</li>
<li>Elaboração de relatórios sumários de ocorrências nas áreas comuns dos condomínios ou empreendimentos.</li>
<li>Reporte a entidades competentes de situações de urgência e/ou anómalas.</li>
<li>Apoio em pequenas reparações,manutenção de lâmpadas, regas,piscinas, limpezas, sistemas de bombagem.</li>
<li>Apoio à recolha do lixo, detritos sólidos de pequenas dimensões e papéis, plásticos,etc.</li>
<li>Apoio aos condóminos, familiares e visitantes no transporte de objectos volumosos e(ou pesados, sacos de compras, etc.</li>
<li>Outras tarefas inerentes à necessidade específica de cada cliente.</li>
</ul>
<h4>O Nosso Desempenho</h4>
<p>O desempenho das nossas funções é transversal a muitos sectores de actividade consituindo uma mais-valia à nossa capacidade de prestação de serviço geral, permitindo-nos aplicar essa experiência e os conhecimentos obtidos nos outros clientes, permitindo antecipar ações e agir na prevenção.</p>

<h3>Limpezas</h3>
<p>Efetuamos vários tipos de limpezas, tais como:</p>
<ul>
<li>Escritórios</li> 
<li>Casas particulares</li>
<li>Ocasionais e Periódicas</li>
</ul>

<h3>Contacto</h3>
<p>Abertos 24H</p>
<p>Todos os dias.</p>
<p>Grupo SF Mudanças<br>
(Venteira)<br>
Amadora - Grupo SF Mudanças<br>
serviço de portaria e limpeza<br>
2700 AMADORA <br>
( Venteira )<br>
sebastiaodionisio@live.com.pt<br>
969 595 622<br>
210 452 385<br>
925 590 691<br>
210 483 879<br>
</p>
