<div class="container" style="padding-top: 50px;padding-bottom: 100px;"> 
	<div class="row">
		<div class="span12" id="div_element2">
			<h3>Sobre nós</h3>
			<p>O Grupo SF Mudanças está sediado em Lisboa actuando em toda a zona da Grande Lisboa e de uma forma geral executa serviços de mudanças para todo o território nacional continental.</p>
			<p>Para além da componente das mudanças, prestamos um conjunto de serviços tipicamente designados por Facility Services, ao nível da Gestão e Administração, na vertente de Condomínios, mas também ao nível de Centros de Escritórios e Centros Empresariais.</p>
			<p>O nosso conceito passa por prestar um conjunto de serviços alargado no sentido de satisfazer o maior número de necessidades específicas das empresas ou dos particulares.</p>
			<p>Poderá confiar o processo de mudança completo, a administração do seu condomínio, da sua propriedade, da sua quinta no Alentejo ou noutra parte do país, e ainda todos os serviços ao nível empresarial, tais como portaria, gestão do parque empresarial, centros de escritórios etc.</p>
			<p>Tudo o que precisar poderá confiar no nosso Grupo!</p>
			<p>O desempenho das nossas funções é transversal a muitos sectores de actividade consituindo uma mais-valia à nossa capacidade de prestação de serviço geral, permitindo-nos aplicar essa experiência e os conhecimentos obtidos nos outros clientes, permitindo antecipar ações e agir na prevenção.</p>
			
			<%=link_to 'Voltar ao inicio', root_path, class: ''%>
		</div>
	</div>
</div>
<script>
(function($) {
    $.fn.goTo = function() {
        $('html, body').animate({
            scrollTop: $(this).offset().top+600 + 'px'
        }, 'fast');
        return this; // for chaining...
    }
})(jQuery);
$('#div_element2').goTo();
</script>