<div class="container" style="padding-top: 50px;padding-bottom: 100px;">
	<div class="row">
		<div class="span4" style="text-align: center">
			<h2>Mudanças</h2>
			<p>Efectuamos todo o tipo de mudanças ao nível B2B e B2C. Trabalhamos com elevados patamares de profissionalismo, prontidão e dedicação.<br>
			Atuamos em toda a zona da Grande Lisboa mas também um pouco por todo o país, em território nacional. Todo o nosso trabalho tem como premissa básica o cumprimento rigoroso dos horários.<br>
			<!--As mudanças têm todas elas em comum uma origem e um destino e é indispensável um bom nível de preparação, de forma a tornar a mudança mais rápida e mais eficiente.--></p>
			<!--<%=link_to 'mais detalhes', '#', class: 'btn'%>-->
		</div>
		<div class="span4" style="text-align: center;">
			<h2>Facility Services</h2>
			<p>Tendo como core business a prestação de serviços de recepção, portaria e zelação, o Grupo SF desenvolve a sua actividade com base nas necessidades específicas de cada cliente.<br>
			Para alcançarmos este objectivo de modo a dar resposta às exigências actuais é essencial uma integração na cultura de cada cliente, respondendo de forma segura e objectiva aos requisitos da missão.<br>
			<!--Com este rigor e elevado nível de exigência, foi possível construir sólidas relações com os nossos clientes que constituem as nossas referências e currículo, capacitando-nos para prestar serviços em clientes com características tão distintas, como condomínios de habitação, centros empresariais,comerciais, escritórios, complexos industriais, armazéns, hospitais e aindaeventos.<br>
			Para além dos serviços-base nas áreas referidas, possuímos a flexibilidade fundamental para valorizar a nossa proposta comercial disponibilizando vários serviços complementares e de cortesia, visando um nível mais elevado de conforto e segurança aos nossos clientes.--></br></p>
			<%=link_to 'saber mais', services_path, class: 'btn btn-primary'%>
		</div>
		<div class="span4" style="text-align: center;">
			<h2>Limpezas</h2>
			<p>Efetuamos vários tipos de limpezas:<br>
			Escritórios<br>
			Casas particulares<br>
			Ocasionais e Periódicas<br></p>
			<%=link_to 'Contacte-nos!', '#', class: 'btn btn-primary disabled'%>
		</div>
	</div>
</div>