<div class="container">
	<div class="row">
		<div class="span12">
			<h3>Facility Services</h3>
			<p>Tendo como core business a prestação de serviços de recepção, portaria e zelação, a o Grupo SF desenvolve a sua actividade com base nas necessidades específicas de cada cliente.</p>
			<p>Para alcançarmos este objectivo de modo a dar resposta às exigências actuais é essencial uma integração na cultura de cada cliente, respondendo de forma segura e objectiva aos requisitos da missão. Com este rigor e elevado nível de exigência, foi possível construir sólidas relações com os nossos clientes que constituem as nossas referências e currículo, capacitando-nos para prestar serviços em clientes com características tão distintas, como condomínios de habitação, centros empresariais,comerciais, escritórios, complexos industriais, armazéns, hospitais e aindaeventos.</p>
			<p>Para além dos serviços-base nas áreas referidas, possuímos a flexibilidade fundamental para valorizar a nossa proposta comercial disponibilizando vários serviços complementares e de cortesia, visando um nível mais elevado de conforto e segurança aos nossos clientes.</p>
			<h4>O Que Fazemos</h4>
			<ul>
				<li>Fiscalizar o cumprimento do regulamento do condomínio e/ou normas instituídas pelo cliente/administação.</li>
				<li>Controlo e supervisão na manutençãodas instalações do cliente.</li>
				<li>Controlo do bom funcionamento de equipamentos afectos às instalações do cliente.</li>
				<li>Fazer o atendimento de todas as pessoas que se dirijam às fracções/condomínio.</li>
				<li>Acompanhamento e encaminhamento do visitante.</li>
				<li>Atendimento de telefonemas, registo e encaminhamento de mensagens.</li>
				<li>Não permitir a permanência de pessoas estranhas dentro da portaria ou utilização indevida do telefone e outros equipamentos existentes.</li>
				<li>Elaboração de relatórios sumários de ocorrências nas áreas comuns dos condomínios ou empreendimentos.</li>
				<li>Reporte a entidades competentes de situações de urgência e/ou anómalas.</li>
				<li>Apoio em pequenas reparações,manutenção de lâmpadas, regas,piscinas, limpezas, sistemas de bombagem.</li>
				<li>Apoio à recolha do lixo, detritos sólidos de pequenas dimensões e papéis, plásticos,etc.</li>
				<li>Apoio aos condóminos, familiares e visitantes no transporte de objectos volumosos e(ou pesados, sacos de compras, etc.</li>
				<li>Outras tarefas inerentes à necessidade específica de cada cliente.</li>
			</ul>
			
			<%=link_to 'Voltar ao inicio', root_path, class: ''%>
		</div>
	</div>
</div>
