<footer class="">
	<hr class="featurette-divider">
	<div class="container">
		<div class="row">
			<div class="span6">developed by <b><a href="http://cristheinz.info" target="_blank">cristheinz</a></b></div>
			<div class="span4 offset2">
				<%= render 'static_pages/address'%>
			</div>
			
		</div>
	
		<div class="row">
			<center>
				<br />
				<small><%= Time.now.year %> - Grupo SF Mudanças</small>
			</center>
		</div>
	</div>
</footer>

